<div class="mb-3">
  <label class="form-label">Initialization Templates</label>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="<%= prefix %>StructureTemplate" name="templates[]" value="structure" checked>
    <label class="form-check-label" for="<%= prefix %>StructureTemplate">
      Project Structure Analysis
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="<%= prefix %>FeatureTemplate" name="templates[]" value="features" checked>
    <label class="form-check-label" for="<%= prefix %>FeatureTemplate">
      Feature Suggestions
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="<%= prefix %>StepsTemplate" name="templates[]" value="steps" checked>
    <label class="form-check-label" for="<%= prefix %>StepsTemplate">
      Development Steps
    </label>
  </div>
</div>
